<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form " action="" id="form" lay-filter="form">
            <div class="layui-card-body">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit lay-filter="submitBtn">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        <button class="layui-btn layui-btn-primary" onclick="parent.window.callback()">返回</button>
                    </div>
                </div>
                <div class="layui-tab layui-tab-card">
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <input type="hidden" name="regist_from" value="admin">
                            <input type="hidden" name="shop_id" value="0">
                            <div class="layui-form-item">
                                <label class="layui-form-label">手机号</label>
                                <div class="layui-input-block">
                                    <input class="layui-input" type="number" name="phone" placeholder="手机号" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">邮箱</label>
                                <div class="layui-input-block">
                                    <input class="layui-input" type="email" name="email" placeholder="邮箱" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-block">
                                    <input class="layui-input" name="user_name" placeholder="用户名" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">密码</label>
                                <div class="layui-input-block">
                                    <input class="layui-input" name="pass" placeholder="密码" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    layui.use(['form', 'layer'], function() {
        var form = layui.form;
        var layer = layui.layer;

        //监听提交
        form.on('submit(submitBtn)', function(data) {
            request.setHost(CENTER_DATA).post('/user/user/register', data.field, function(res) {
                if (res.code == 0) {
                    layer.msg(res.msg);
                    setTimeout(function() {
                        parent.window.callback();
                    }, 1000);
                } else {
                    layer.msg(res.msg);
                }
            });
            return false;
        });

        form.render();

    });
});
</script>