<style type="text/css">
.flex-row{display:flex;}
.layui-form-item .layui-inline{margin-right:0;}
.layui-table-cell{height:auto;white-space:normal;}
.layui-table-hover{background-color:transparent !important;}
.label-toggle .layui-nav-child{top:30px;left:10px;text-align:center;}
.label-toggle:hover .layui-nav-child{display:block !important;}
.label-toggle>a{padding-right:20px;display:block;}
</style>

<div class="stock" id="app">
	<div class="layui-card">
		<div class="layui-card-header layuiadmin-card-header-auto layui-form layui-form-item layui-row" lay-filter="searchForm">
			<div class="layui-form-item pl-2">
				<button class="layui-btn layui-btn-normal">查询</button>
				<button class="layui-btn layui-btn-primary">重置</button>
			</div>
			<div class="layui-inline layui-col-md3 layui-col-sm4 layui-col-xs6">
				<label class="layui-form-label">商品编码</label>
				<div class="layui-input-block">
					<input type="text" name="item_code" placeholder="商户编码" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-inline layui-col-md3 layui-col-sm4 layui-col-xs6">
				<label class="layui-form-label">规格代码</label>
				<div class="layui-input-block">
					<input type="text" name="sku_code" placeholder="规格代码" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-inline layui-col-md3 layui-col-sm4 layui-col-xs6">
				<label class="layui-form-label">商品条码</label>
				<div class="layui-input-block">
					<input type="text" name="brcode" placeholder="商品条码" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-inline layui-col-md3 layui-col-sm4 layui-col-xs6">
				<label class="layui-form-label label-toggle">
					<a href="javascript:;"><span class="text">库存数量</span> <i class="layui-icon layui-icon-triangle-d"></i></a>
					<dl class="layui-nav-child">
						<dd><a href="javascript:;">库存数量</a></dd>
						<dd><a href="javascript:;">可销售数</a></dd>
						<dd><a href="javascript:;">在途数</a></dd>
					</dl>
				</label>
				<div class="flex-row">
					<div class="layui-input-inline">
						<input type="text" name="qtyMin" id="start_order_time" placeholder="下限" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-form-mid">-</div>
					<div class="layui-input-inline">
						<input type="text" name="qtyMax" id="end_order_time" placeholder="上限" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-inline layui-col-md3 layui-col-sm4 layui-col-xs6">
				<label class="layui-form-label">商品分类</label>
				<div class="layui-input-block">
					<select name="category_id" id="category_id"></select>
				</div>
			</div>
			<div class="layui-inline layui-col-md3 layui-col-sm4 layui-col-xs6">
				<label class="layui-form-label">商品品牌</label>
				<div class="layui-input-block">
					<select name="brand_id" id="brand_id"></select>
				</div>
			</div>
			<div class="layui-inline layui-col-md3 layui-col-sm4 layui-col-xs6">
				<label class="layui-form-label">商品标签</label>
				<div class="layui-input-block">
					<select name="goods_tag_id" id="goods_tag_id">
						<option value="">全部</option>
						<option value="1">HEA</option>
						<option value="1">待发货</option>
						<option value="2">已发货</option>
						<option value="2">交易完成</option>
						<option value="2">已作废</option>
					</select>
				</div>
			</div>
			<div class="layui-inline layui-col-md3 layui-col-sm4 layui-col-xs6">
				<label class="layui-form-label">库存类型</label>
				<div class="layui-input-block">
					<select name="goods_type">
						<option value="1">商品</option>
						<option value="2">物料</option>
					</select>
				</div>
			</div>
		</div>
		<div class="layui-card-body">
			<table id="myDataTable" lay-filter="myDataTable"></table>
		</div>
	</div>
</div>

<!-- checkout -->
<hea:js src="" />
