<style>
    .table-box{margin-top:20px;}
    [v-cloak]{display:none;}
    .layui-form-item .goods-input{width:90px; margin-right:5px;}
    .goods-img{width:150px;}
</style>
<div class="layui-fluid" id="vue_main" v-cloak >
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form table-box" lay-filter="form-table" action=""  >
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">标题：</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" v-model="gift_info.title" >
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">描述：</label>
                    <div class="layui-input-inline" >
                        <textarea name="description" style="resize:none; width:300px;"  placeholder="请输入内容" class="layui-textarea">{{gift_info.description}}</textarea>
                    </div>
                    <label class="layui-form-label">赠送商品：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="goods_erp_code" placeholder="输入货号" autocomplete="off" class="layui-input" style="float:left; width:100px;" >
                        <input type="hidden" name="goods_id" v-model="gift_info.goods_id" >
                        <button style="float:left; margin-left:10px;" type="button" class="layui-btn layui-btn-m" v-on:click="getGoodsInfo()" >确认</button>
                    </div>
                    <label class="layui-form-label" v-if="gift_info.goods_id > 0" >商品信息：</label>
                    <div class="layui-input-inline" v-if="gift_info.goods_id > 0">
                        <div class="goods-img"><img :src="gift_goods.image"></div>
                        <div class="goods-name">商品名：{{gift_goods.goods_name}}</div>
                        <div class="goods-code">货号：{{gift_goods.erp_code}}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">赠送类型：</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="type" value="1" v-model="gift_info.type" title="满元送"  lay-filter="type" >
                        <input type="radio" name="type" value="2" v-model="gift_info.type" title="满件送"  lay-filter="type" >
                    </div>
                    <label class="layui-form-label">赠送要求：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="condition" lay-verify="required" placeholder="赠送要求" autocomplete="off" class="layui-input" style="width:auto;" v-model="gift_info.condition" v-on:blur="validateFloatEmpty(gift_info.condition,'condition')" v-on:keyup="validateFloat(gift_info.condition,'condition')" >
                    </div>
                    <div class="layui-form-mid layui-word-aux" >{{ gift_info.type == 1 ? '元' : '件'}}</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">应用范围</label>
                    <div class="layui-input-inline" style="width:auto;">
                        <input type="checkbox" name="order_group" value="1" title="拼团单" lay-filter="order_type" >
                        <input type="checkbox" name="order_o2o" value="1" title="门店单" lay-filter="order_type" >
                        <input type="checkbox" name="order_online" value="1" title="平台单" lay-filter="order_type">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品类型：</label>
                    <div class="layui-input-inline" style="width:380px;">
                        <input type="radio" name="use_goods_type" value="0" v-model="gift_info.use_goods_type" title="全商品" lay-filter="use_goods_type"  >
                        <input type="radio" name="use_goods_type" value="1" v-model="gift_info.use_goods_type" title="指定商品" lay-filter="use_goods_type"  >
                        <input type="radio" name="use_goods_type" value="2" v-model="gift_info.use_goods_type" title="排除商品" lay-filter="use_goods_type"  >
                    </div>
                    <label class="layui-form-label">店铺类型：</label>
                    <div class="layui-input-inline" style="width:380px;">
                        <input type="radio" name="use_shop_type" value="0" v-model="gift_info.use_shop_type" title="全店" lay-filter="use_shop_type"  >
                        <input type="radio" name="use_shop_type" value="1" v-model="gift_info.use_shop_type" title="指定店" lay-filter="use_shop_type"  >
                        <input type="radio" name="use_shop_type" value="2" v-model="gift_info.use_shop_type" title="排除店" lay-filter="use_shop_type"  >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">活动时间：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="start_time" id="start_time" v-model="gift_info.start_time" required lay-verify="required" placeholder="开始时间" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid">至</div>
                    <div class="layui-input-inline">
                        <input type="text" name="end_time" id="end_time" v-model="gift_info.end_time" required lay-verify="required" autocomplete="off" class="layui-input" placeholder="结束时间" >
                    </div>
                </div>
            </form>
            <div class="layui-form-item" id="goods_box" v-if="gift_info.use_goods_type > 0">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <form class="layui-form" action="" id="goods-form" >
                                <label class="layui-form-label">选择商品：</label>
                                <div class="layui-input-inline goods-input">
                                    <input type="text" name="keyword" value="" placeholder="关键词" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-input-inline goods-input">
                                    <input type="text" name="erp_code" value="" placeholder="商品货号" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-input-inline goods-input">
                                    <select name="cate_id" id="cate_box" lay-search >
                                    </select>
                                </div>
                                <div class="layui-input-inline goods-input">
                                    <select name="brand_id" id="brand_box" lay-search >
                                    </select>
                                </div>
                                <div class="layui-input-inline goods-input">
                                    <button class="layui-btn" lay-submit lay-filter="goods_form" >确认</button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-body">
                            <table id="goods_list" lay-filter="goods_all"></table>
                        </div>
                    </div>
                </div>
                    <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">已选中商品：</div>
                        <div class="layui-card-body">
                            <table id="goods_changed" lay-filter="goods_changed"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" id="shop_box" v-if="gift_info.use_shop_type > 0">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">选择店铺：</div>
                        <div class="layui-card-body">
                            <table id="shop_list" lay-filter="shop_all"></table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">已选中店铺：</div>
                        <div class="layui-card-body">
                            <table id="shop_changed" lay-filter="shop_changed"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 操作模板 -->
<script type="text/html" id="goodsLeftTpl">
    <button type="button" class="layui-btn layui-btn-xs" style="margin:0;" lay-event="add_goods" >添加</button>
</script>
<script type="text/html" id="goodsRightTpl">
    <button type="button" class="layui-btn layui-btn-xs" style="margin:0;" lay-event="del_goods" >去除</button>
</script>
<script type="text/html" id="shopLeftTpl">
    <button type="button" class="layui-btn layui-btn-xs" style="margin:0;" lay-event="add_shop" >添加</button>
</script>
<script type="text/html" id="shopRightTpl">
    <button type="button" class="layui-btn layui-btn-xs" style="margin:0;" lay-event="del_shop" >去除</button>
</script>
<hea:js src="/static/js/vue.js" />
<script>
    var id = getUrlParam('id');
    var form = layui.form;
    var table = layui.table;
    var laydate = layui.laydate;

    var Vue = new Vue({
        el: '#vue_main',
        data:{
            'gift_id' : id,
            'gift_info' : {
                'title' : '',
                'description' : '',
                'goods_id' : 0,
                'type' : 1,
                'use_goods_type' : 0,
                'use_shop_type' : 0,
                'order_group' : 0,
                'order_o2o' : 0,
                'order_online' : 0,
                'condition' : '0.00',
                'start_time' : '',
                'end_time' : ''
            },
            'gift_goods_id' : 0,
            'gift_goods':{},
            'goods_list' : {},
            'goods_checked_list' : Array(),
            'goods_checked_id_list' : Array(),
            'shop_checked_list' : Array(),
            'shop_checked_id_list' : Array()
        },
        mounted:function(){
            var that = this;
            if( that.gift_id != null ){
                that.getGiftInfo();
            }else{
                form.val("form-table", {
                    "order_group": that.gift_info.order_group,
                    "order_o2o": that.gift_info.order_o2o,
                    "order_online": that.gift_info.order_online
                });
            }
            form.on('radio(type)', function(data){
                that.gift_info.type = data.value;
            });
            form.on('radio(use_goods_type)', function(data){
                that.gift_info.use_goods_type = data.value;
                if( that.gift_info.use_goods_type > 0 ){
                    setTimeout(function(){
                        that.getGoodsList();
                        that.setGoodsCheckedList();
                    },600);
                }
            });
            form.on('radio(use_shop_type)', function(data){
                that.gift_info.use_shop_type = data.value;
                if( that.gift_info.use_shop_type > 0 ){
                    setTimeout(function(){
                        that.getShopList();
                        that.setShopCheckedList();
                    },600);
                }
            });
            //列表项事件
            table.on('tool(goods_all)', function(obj) {
                var data = obj.data;
                var layEvent = obj.event;
                switch(layEvent) {
                    case 'add_goods' : //添加商品
                        if( that.goods_checked_id_list.indexOf(data.id) < 0 ){
                            that.goods_checked_list.push(data);
                            that.goods_checked_id_list.push(data.id);
                        }else{
                            layer.msg('商品已选中了');
                        }
                        table.reload('goods_changed',{
                            data : that.goods_checked_list
                        });
                        break;
                    default :
                        return false;
                        break;
                }
                return false;
            });
            //列表项事件
            table.on('tool(shop_all)', function(obj) {
                var data = obj.data;
                var layEvent = obj.event;
                switch(layEvent) {
                    case 'add_shop' : //添加商家
                        if( that.shop_checked_id_list.indexOf(data.id) < 0 ){
                            that.shop_checked_list.push(data);
                            that.shop_checked_id_list.push(data.id);
                        }else{
                            layer.msg('店铺已选中了');
                        }
                        table.reload('shop_changed',{
                            data : that.shop_checked_list
                        });
                        break;
                    default :
                        return false;
                        break;
                }
                return false;
            });
            table.on('tool(goods_changed)', function(obj) {
                var data = obj.data;
                var layEvent = obj.event;
                switch(layEvent) {
                    case 'del_goods' : //添加商品
                        var keys = that.goods_checked_id_list.indexOf(data.id);
                        that.goods_checked_list.splice(keys,1);
                        that.goods_checked_id_list.splice(keys,1);
                        table.reload('goods_changed',{
                            data : that.goods_checked_list
                        });
                        break;
                    default :
                        return false;
                        break;
                }
                return false;
            });
            table.on('tool(shop_changed)', function(obj) {
                var data = obj.data;
                var layEvent = obj.event;
                switch(layEvent) {
                    case 'del_shop' : //添加商品
                        var keys = that.shop_checked_id_list.indexOf(data.id);
                        that.shop_checked_list.splice(keys,1);
                        that.shop_checked_id_list.splice(keys,1);
                        table.reload('shop_changed',{
                            data : that.shop_checked_list
                        });
                        break;
                    default :
                        return false;
                        break;
                }
                return false;
            });
            layui.use('form', function(){
                //监听提交
                form.on('submit(formDemo)', function(data){
                    var apiUrl = '/activity/gift/createGift';
                    data.field.gift_id = 0;
                    if( that.gift_id != null ){
                        data.field.gift_id = that.gift_id;
                        apiUrl = '/activity/gift/saveGift';
                    }
                    if( data.field.use_goods_type > 0 && that.goods_checked_id_list.length == 0 ){
                        layer.msg('缺少指定商品');
                        return false;
                    }
                    data.field.goods_list = that.goods_checked_id_list;
                    if( data.field.use_shop_type > 0 && that.shop_checked_id_list.length == 0 ){
                        layer.msg('缺少指定店铺');
                        return false;
                    }
                    data.field.shop_list = that.shop_checked_id_list;
                    request.setHost(SHOP_DATA).post(apiUrl, data.field, function(res){
                        if (res.code == 0) {
                            // 成功提示
                            layer.msg(res.msg);
                            setTimeout(function(){
                                parent.window.callback();
                            },1500);
                        } else {
                            // 错误提示
                            layer.msg(res.msg);
                        }
                    });
                    return false;
                });
                //监听提交
                form.on('submit(goods_form)', function(data){
                    searchData = data.field;
                    //上述方法等价于
                    table.reload('goods_list', {
                        where: searchData,
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                    return false;
                });
            });
            laydate.render({
                elem: '#start_time', //指定元素
                type: 'datetime',
                done: function(value, date, endDate){
                    that.gift_info.start_time = value;
                }
            });
            laydate.render({
                elem: '#end_time', //指定元素
                type: 'datetime',
                done: function(value, date, endDate){
                    that.gift_info.end_time = value;
                }
            });
            form.render();
        },
        methods:{
            getGiftInfo:function(){
                var that = this;
                var param = {};
                param.id = that.gift_id;
                request.setHost(SHOP_DATA).post('/activity/gift/one',param, function(res){
                    if (res.code == 0) {
                        that.gift_info = {
                            'title' : res.data.title,
                            'description' : res.data.description,
                            'type' : res.data.type,
                            'goods_id' : res.data.goods_id,
                            'use_goods_type' : res.data.use_goods_type,
                            'use_shop_type' : res.data.use_shop_type,
                            'order_group' : res.data.order_group,
                            'order_o2o' : res.data.order_o2o,
                            'order_online' : res.data.order_online,
                            'condition' : res.data.condition,
                            'start_time' : res.data.start_time,
                            'end_time' : res.data.end_time
                        };
                        that.getGoodsInfo(res.data.goods_id);
                        form.val("form-table", {
                            "order_group": that.gift_info.order_group,
                            "order_o2o": that.gift_info.order_o2o,
                            "order_online": that.gift_info.order_online
                        });
                        var id_list = Array();
                        that.goods_checked_list = res.data.goods_list;
                        for( var i in res.data.goods_list ){
                            id_list.push(res.data.goods_list[i].id);
                        }
                        that.goods_checked_id_list = id_list;
                        id_list = Array();
                        that.shop_checked_list = res.data.shop_list;
                        for( var i in res.data.shop_list ){
                            id_list.push(res.data.shop_list[i].id);
                        }
                        that.shop_checked_id_list = id_list;
                        that.$nextTick().then (function () {
                            form.render();
                            if( res.data.use_goods_type > 0 ){
                                that.getGoodsList();
                                that.setGoodsCheckedList();
                            }
                            if( res.data.use_shop_type > 0 ){
                                that.getShopList();
                                that.setShopCheckedList();
                            }
                        });
                        form.render();
                    } else {
                        // 错误提示
                        layer.msg(res.msg);
                    }
                });
            },
            getGoodsInfo(goods_id){
                var that = this;
                var param = {};
                if( typeof(goods_id) == 'undefined' ){
                    param.erp_code = $('#goods_erp_code').val();
                    if( param.erp_code == '' ){
                        layer.msg('请填写货号');
                        return false;
                    }
                }else{
                    param.id = goods_id;
                }
                request.setHost(SHOP_DATA).post('/goods/goods/one',param, function(res){
                    if (res.code == 0) {
                        that.gift_info.goods_id = res.data.id;
                        that.gift_goods = res.data;
                        that.gift_goods.image = res.data.goods_images.image;
                        $('#goods_erp_code').val('');
                    } else {
                        // 错误提示
                        layer.msg(res.msg);
                    }
                });
            },
            getGoodsList:function(){
                var that = this;
                //执行渲染
                table.render({
                    id : 'goods_list',
                    elem: '#goods_list'
                    ,height: '300' //容器高度
                    ,url: '/goods/goods/index?status=1'
                    ,page: true
                    ,defaultToolbar: false
                    ,headers: {
                        ctrl: SHOP_DATA
                    }
                    ,cols: [[
                        {field: 'id', title: 'id', width:50},
                        {field: 'goods_name', title: '商品名'},
                        {field: 'sku_sn', title: '货号', width:120},
                        {field: 'status_desc', title: '商品状态',width:100},
                        {field: 'id', title: '操作', width:100, templet: '#goodsLeftTpl'}
                    ]]
                });
                request.setHost(SHOP_DATA).get('/goods/category/getCateAll/',{'showType':'tree_list'}, function(res){
                    if( res.code == 0 ){
                        var cate_list = setTreeGrid(res.data);
                        var cate_html = '<option value="" >分类</option>';
                        for( var c = 0; c < cate_list.length; c++ ){
                            cate_html += '<option value="'+cate_list[c].id+'" >'+cate_list[c].cate_name+'</option>';
                        }
                        $('#cate_box').html(cate_html);
                        form.render();
                    }
                });
                request.setHost(SHOP_DATA).get('/goods/goods_brands/all',{'limit':'0'}, function(res){
                    if( res.code == 0 ){
                        var brand_list = res.data;
                        var brand_html = '<option value="" >品牌</option>';
                        for( var b = 0; b < brand_list.length; b++ ){
                            brand_html += '<option value="'+brand_list[b].id+'" >'+brand_list[b].brand_name+'</option>';
                        }
                        $('#brand_box').html(brand_html);
                        form.render();
                    }
                });
            },
            getShopList:function(){
                var that = this;
                //执行渲染
                table.render({
                    id : 'shop_list',
                    elem: '#shop_list'
                    ,height: '300' //容器高度
                    ,url: '/merchant/shop/index'
                    ,page: true
                    ,defaultToolbar: false
                    ,headers: {
                        ctrl: CENTER_DATA
                    }
                    ,cols: [[
                        {field: 'name', title: '店铺名'},
                        {field: 'id', title: '操作', width:100, templet: '#shopLeftTpl'}
                    ]]
                });
            },
            setGoodsCheckedList:function(){
                var that = this;
                table.render({
                    id : 'goods_changed',
                    elem: '#goods_changed'
                    ,height: '300' //容器高度
                    ,data: that.goods_checked_list
                    ,page: true
                    ,headers: {
                        ctrl: SHOP_DATA
                    }
                    ,cols: [[
                        {field: 'id', title: 'id', width:50},
                        {field: 'goods_name', title: '商品名'},
                        {field: 'sku_sn', title: '货号', width:120},
                        {field: 'status_desc', title: '商品状态',width:100},
                        {field: 'id', title: '操作', width:100, templet: '#goodsRightTpl'}
                    ]]
                });
            },
            setShopCheckedList:function(){
                var that = this;
                table.render({
                    id : 'shop_changed',
                    elem: '#shop_changed'
                    ,height: '300' //容器高度
                    ,data: that.shop_checked_list
                    ,page: true
                    ,headers: {
                        ctrl: SHOP_DATA
                    }
                    ,cols: [[
                        {field: 'name', title: '店名'},
                        {field: 'id', title: '操作', width:100, templet: '#shopRightTpl'}
                    ]]
                });
            },
            updateDesc:function(){
                var that = this;
                layer.confirm('是否确认保存备注信息', {
                    btn: ["确定","取消"] //按钮
                }, function(){
                    var param = {};
                    param.order_id = that.order_id;
                    param.description = that.order_desc;
                    request.setHost(SHOP_DATA).post('/order/order/edit',param, function(res){
                        layer.msg(res.msg);
                    });
                });
            },
            validateFloatEmpty:function(num,type){
                var that = this;
                if( num.trim() == '' || isNaN(num) ){
                    num = 0;
                }else{
                    num = String(parseFloat(num));//防止多余小数点 或 字母字符 残留
                }
                switch( type ){
                    case 'limit_price' :
                        that.coupon_info.limit_price = num;
                        break;
                    case 'discount_value' :
                        that.coupon_info.discount_value = num;
                        break;
                    default :
                        return false;
                        break;
                }
            },
            validateFloat:function(num,type){
                var that = this;
                num = String(num);
                if( num < 0 ){
                    num = 0;
                }else{
                    var arr = num.split(".");
                    if( arr.length == 2){
                        num = arr[0]+'.'+arr[1].slice(0,2);
                    } else if( arr.length > 2){
                        num = arr[0]+'.'+arr[1].slice(0,2);
                    }
                }
                switch( type ){
                    case 'condition' :
                        that.gift_info.condition = num;
                        break;
                    default :
                        return false;
                        break;
                }
                return true;
            }
        }
    });
</script>

