<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="" id="form" >
                <div class="layui-form-item">
                    <label class="layui-form-label">活动号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="id" value="" placeholder="活动id" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">开启状态</label>
                    <div class="layui-input-inline">
                        <select name="status" >
                            <option value="" >全部</option>
                            <option value="1" >开启中</option>
                            <option value="0" >未启动</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">确认</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--数据列表-->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="gift" lay-filter="test"></table>
        </div>
    </div>
</div>
<!-- 操作模板 -->
<script type="text/html" id="toolbarTpl">
    <button class="layui-btn layui-btn-sm" lay-event="add" >设置赠品</button>
</script>
<script type="text/html" id="ctrlTpl">
    <button class="layui-btn layui-btn-xs" style="margin:0;" lay-event="detail" >详情</button>
    <button class="layui-btn layui-btn-xs layui-bg-red" style="margin:0;" lay-event="changeStatus" >
        {{# if( d.status == 0 ){ }}
            启动
        {{# }else{ }}
            关闭
        {{# } }}
    </button>
</script>
<script>
    var form = layui.form;
    var table = layui.table;
    //执行渲染
    table.render({
        id:'gift'
        ,elem: '#gift' //渲染对象
        ,height: 'auto' //容器高度
        ,url: '/activity/gift/index'
        ,page: true
        ,toolbar: '#toolbarTpl'
        ,headers: {
            ctrl: SHOP_DATA
        }
        ,cols: [[
            {field: 'id', title: 'id', width:80}
            ,{field: 'title', title: '标题'}
            ,{field: 'erp_code', title: '赠送商品货号'}
            ,{field: 'type_desc', title: '类型', width:80}
            ,{field: 'status_desc', title: '状态', width:80}
            ,{field: 'start_time', title: '开始日期',width:200}
            ,{field: 'end_time', title: '结束日期',width:200}
            ,{field: 'id', title: '操作', width:200, templet: '#ctrlTpl'}
        ]]
    });
    //头部按钮事件
    table.on('toolbar(test)', function(obj) {
        var data = obj.data;
        var layEvent = obj.event;
        switch( layEvent ){
            case 'add' :
                layer.open({
                    title:'设置赠品',
                    type:2,
                    shadeClose: true,
                    closeBtn:1,
                    area:['90%','90%'],
                    content:'/activity/gift/detail.html'
                });
                break;
            default :
                return false;
                break;
        }
        return false;
    });

    table.on('tool(test)', function(obj) {
        var data = obj.data;
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的DOM对象
        switch (layEvent) {
            case 'detail' :
                layer.open({
                    title:'详情',
                    type:2,
                    shadeClose: true,
                    closeBtn:1,
                    area:['90%','90%'],
                    content:"/activity/gift/detail.html?id="+data.id
                });
                break;
            case 'changeStatus' :
                var param = {};
                param.id = data.id;
                param.status = data.status ? 0 : 1;
                msg = "是否确认关闭！";
                if( param.status == 1 ){
                    msg = "是否确认开启";
                }
                layer.confirm(msg, {
                    btn: ["确定","取消"] //按钮
                }, function(){
                    request.setHost(SHOP_DATA).post('/activity/gift/edit',param, function(res){
                        if (res.code == 0) {
                            // 成功提示
                            layer.msg(res.msg);
                            setTimeout(function(){
                                table.reload('gift');
                            },1000);
                        } else {
                            // 错误提示
                            layer.msg(res.msg);
                        }
                    });
                });
                break;
            default :
                break;
        }
    });
    layui.use('form', function(){
        form.on('submit', function(data){
            searchData = data.field;
            //上述方法等价于
            table.reload('gift', {
                where: searchData,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });
        form.render();
    });

    function callback(){
        table.reload('gift');
        layer.closeAll();
    }
</script>
